body {
  margin: 0;
  padding: 0;
  font-family: "Calibri Light", "helvetica", arial, sans-serif;
background: linear-gradient(to right, rgb(0, 128, 255), rgb(255, 255, 0));}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button{
  cursor: pointer;
}
